@import url('https://fonts.googleapis.com/css?family=Roboto');

:root{
    --bk-1: #ffff;
    --bk-2: #1b3049;
    --bk-3: #255996;
    --bk-4: #171f29;
    --bk-5: rgba(100, 10, 250, .8);
    --bk-6: #1fd030;
    --bk-7: rgba(0, 0, 10, 0.6);
    --bk-8: beige; 

    --clr-dark: rgba(0,0,0,.25);
    --clr-body: rgba(255,255,255,.8);
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.logo .img {
    height: 30px;
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    all: unset;
    font-size: 1.1em;
}

header {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background: var(--bk-2);
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.nav-toggle {
    display: none;
}

.nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-toggle-label span, 
.nav-toggle-label span::before, 
.nav-toggle-label span::after {
    display: block;
    background: black;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before, 
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 7px;
}

.nav-toggle-label span::after {
    top: 7px;
}

nav {
    position: absolute;
    text-align: center;
    top: 100%;
    left: 0;
    background: rgba(8, 42, 48, 0.678);
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 300ms ease-in-out;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    margin-bottom: 1em;
    margin-left: 1em;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1.1em;
    opacity: 0;
    transform: opacity 150ms ease-in-out;
}

nav a:hover{
    color: var(--bk-7)
}

.nav-toggle:checked ~ nav {
    transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

@media screen and (min-width: 900px) {
    .nav-toggle-label {
        display: none;
    }
    header {
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 1fr) 1fr;
    }
    .logo{
        grid-column: 2/ 3;
    }
    nav {
        all: unset;
        grid-column: 3/ 4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    nav a {
        opacity: 1;
        position: relative;
    }
    nav ul {
        display: flex;
    }
    nav li {
        margin-left: 3em;
        margin-bottom: 0;
    }
    nav a::before {
        content: '';
        display: block;
        height: 5px;
        background: black;
        position: absolute;
        top: -.75em;
        left: 0;
        right: 0;
        transform:  scale(0, 1);
         transform-origin: top; 
        transition: transform ease-in-out 250ms;
    }

    nav a:hover::before{
        transform: scale(1,1);
    }
}

#main {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 100%;
    padding-top: 80px;
    width: 100%;
}
/* section//Real Article/Questions */
.mainpage {
    grid-column: 2;
    grid-row: 1;
    background: ghostwhite;
}

.post {
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: 100%;
    height: 100%;
    padding: 5px;
    width: 100%;
    border-bottom: 1px solid black;
}
.person {
    grid-column: 1;
    grid-row: 1/-1;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    border-radius: 3px;
    padding: 10px;
    background: #f2f9fc;
}
.person .img {
    margin-top: 10px;
    height: 50px;
    border-radius: 50%;
}
.detail {
    grid-column: 2;
    grid-row: 1/-1;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background: #f2f9fc;
}

.reactions .effect {
    height: 30px;
}

.reactions {
    margin-top: 10px;
    display: flex;
    grid-column: 2;
    grid-row: 1/-1;
    width: 40%;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 0;
}

.reactions .number {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 15px;
}
.number span {
    margin-left: 5px;
}



@media screen and (max-width: 900px) {
    #main {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    .mainpage {
        grid-column: 1;
        grid-row: 1;
        margin: 10px;
        background: ghostwhite;
    }
}